@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at 51% 0%, rgba(69, 63, 84, 1) 0%, rgba(69, 63, 85, 1) -10%, rgba(69, 63, 87, 1) 5%, rgba(17, 0, 17, 1) 30%);
}

code {
  font-family: 'Roboto ', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6458e2;
  border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5345e7;
}

.link-styles {
  text-decoration: none;
}

.link-styles:hover {
  text-decoration: none;
}